.container {
    background-image: url("https://photos.smugmug.com/Seasons/Winter-2024/i-kRNsZmg/0/LHFNNB456PzjG45gPbG599W3HgjnLPJ6dX2PQ4WTb/XL/_LRTRV3105-XL.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
}