* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: 'courier new';
}

header {
    text-align: center;
    height: 150px;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.nav-list {
    height: 50px;
    width: 100%;
    margin: 10 auto;
    padding: 0;
}

.nav {
    display: inline-block;
    color: white;
    background-color: darkgray;
    height: 35px;
    width: 150px;
    padding: 8px 5px 5px;
    border: 0;
    margin: 0 5px;
    border-radius: 5px;

}

.introduction {
    color: gray;
    height: 300px;
    width: 600px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    top: 150px;
    left: 0;
    right: 0;
}

.link-box {
    height: 200px;
    width: 600px;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.link {
    color: white;
    background-color: darkgray;
    height: 50px;
    width: fit-content;
    padding: 10px;
    margin: 0 20;
    border-radius: 10px;
}



a:hover {
    color:darkorange;
}